* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #2f2f2f;
    color: #FFFFFF;
    font-family: sans-serif;
    padding: 1rem;
}

body *{
    margin: auto;
    width: 70%;
    border: 2px dashed red;
}